[Unit]
Description=Backend Service

[Service]
User=project
Environment=DB_HOST=database.pmpkdev.online
WorkingDirectory=/app

ExecStart=/usr/bin/node /usr/bin/ts-node /app/server.ts

Restart=always
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target